In [251]:
# import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [252]:
# reading the data
df=pd.read_csv("FertilizerPrediction.csv")
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19,28-28
95,30,60,27,Red,Tobacco,4,17,17,10/26/2026
96,38,72,51,Loamy,Wheat,39,0,0,Urea
97,36,60,43,Sandy,Millets,15,0,41,DAP
98,29,58,57,Black,Sugarcane,12,0,10,20-20

In [253]:
# check for categorical attributes
cat_col = []
for x in df.dtypes.index:
    if df.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

['Soil Type', 'Crop Type', 'Fertilizer Name']

In [254]:
df.isnull().sum()
#gives summ of all the null values present in the every column

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [255]:
# importing label encoder for converting categorical 
from sklearn.preprocessing import LabelEncoder

In [256]:
#encoding Soil Type variable
encode_soil = LabelEncoder()
df['Soil Type'] = encode_soil.fit_transform(df['Soil Type'])

#creating the DataFrame
Soil_Type = pd.DataFrame(zip(encode_soil.classes_,encode_soil.transform(encode_soil.classes_)),columns=['Original','Encoded'])
Soil_Type = Soil_Type.set_index('Original')
Soil_Type

          Encoded
Original
Black           0
Clayey          1
Loamy           2
Red             3
Sandy           4

In [257]:
# encoding the crop type variables
encode_crop =  LabelEncoder()
df['Crop Type'] = encode_crop.fit_transform(df['Crop Type'])

#creating the DataFrame
Crop_Type = pd.DataFrame(zip(encode_crop.classes_,encode_crop.transform(encode_crop.classes_)),columns=['Original','Encoded'])
Crop_Type = Crop_Type.set_index('Original')
Crop_Type

             Encoded
Original
Barley             0
Cotton             1
Ground Nuts        2
Maize              3
Millets            4
Oil seeds          5
Paddy              6
Pulses             7
Sugarcane          8
Tobacco            9
Wheat             10

In [258]:
# encoding fertilizer name type variable
encode_ferti = LabelEncoder()
df['Fertilizer Name'] = encode_ferti.fit_transform(df['Fertilizer Name'])

#creating the DataFrame
Fertilizer = pd.DataFrame(zip(encode_ferti.classes_,encode_ferti.transform(encode_ferti.classes_)),columns=['Original','Encoded'])
Fertilizer = Fertilizer.set_index('Original')
Fertilizer

            Encoded
Original
10/26/2026        0
14-35-14          1
17-17-17          2
20-20             3
28-28             4
DAP               5
Urea              6

In [259]:
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19,4
95,30,60,27,3,9,4,17,17,0
96,38,72,51,2,10,39,0,0,6
97,36,60,43,4,4,15,0,41,5
98,29,58,57,0,8,12,0,10,3

In [267]:
#importing train_test_split to create validation test
from sklearn.model_selection import train_test_split
x=df.drop(["Fertilizer Name"],axis=1)
y=df["Fertilizer Name"]
#split the dataset into trainset and testset
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [315]:
print(x_test)

    Temparature  Humidity   Moisture  Soil Type  Crop Type  Nitrogen  \
26           30         60        63          3          1         9
86           29         58        30          3          9        13
2            34         65        62          0          1         7
55           27         53        43          0          4        23
75           29         58        42          1          6         9
92           36         68        41          3          2        41
16           33         64        34          1          7        38
73           27         53        34          0          5        42
54           31         62        63          3          1        11
94           25         50        32          1          7        24
53           30         60        47          4          0        12
91           34         65        45          1          6         6
78           26         52        36          1          7         7
13           32         62        41          1          6        24
7            33         64        50          2         10        41
30           29         58        40          3          2        24
22           35         68        33          3          9        11
24           33         64        39          1          6        13
33           36         68        38          4          0         7
8            30         60        42          4          4        21

    Potassium  Phosphorous
26          9           29
86         17           16
2           9           30
55          0           24
75         10           22
92          0            0
16          0            0
73          0            0
54         12           15
94          0           19
53          0           42
91         19           21
78         16           20
13          0           22
7           0            0
30          0           23
22          0           37
24          0           10
33          9           30
8           0           18

In [298]:
# Feature Scaling
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=8)
classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=8)

In [314]:

y_pred=classifier.predict(x_test)
print(y_test)
print(y_pred)

26    1
86    0
2     1
55    4
75    1
92    6
16    6
73    6
54    2
94    4
53    5
91    0
78    0
13    4
7     6
30    4
22    5
24    3
33    1
8     4
Name: Fertilizer Name, dtype: int32
[1 1 1 4 1 6 6 6 2 4 5 0 0 4 6 4 5 3 1 4]
26    1
86    0
2     1
55    4
75    1
92    6
16    6
73    6
54    2
94    4
53    5
91    0
78    0
13    4
7     6
30    4
22    5
24    3
33    1
8     4
Name: Fertilizer Name, dtype: int32

In [300]:
# Calculating the Accuracy
from sklearn import metrics
y_pred=classifier.predict(x_test)
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 0.95

In [316]:
a=float(input("enter temparature value:"))
b=float(input("enter Humidity value:"))
c=float(input("enter Moisture value:"))
d=int(input("enter soil type value:"))
e=int(input("enter Crop type value:"))
f=float(input("enter Nitrogen value:"))
g=float(input("enter Potassium value:"))
h=float(input("enter Phoshporous value:"))
ans=classifier.predict([[a,b,c,d,e,f,g,h]])
if(((a>=20)&(a<=40)) & ((b>40)&(b<70)) & ((c>=20)&(c<=70)) & ((d>=0)&(d<=4)) & ((e>=0)&(e<=10)) & ((f>=0)&(f<=50)) & ((g>=0)&(g<=20)) & 
    ((h>=0)&(h<=50))):
    if ans[0] == 0:
        print("Use 10-26-26 fertilizer")
    elif ans[0] ==1:
        print("Use 14-35-14 fertilizer")
    elif ans[0] == 2:
        print("Use 17-17-17 fertilizer")
    elif ans[0] == 3:
        print("Use 20-20 fertilizer")
    elif ans[0] == 4:
        print("Use 28-28 fertilizer")
    elif ans[0]==5:
        print("Use DAP fertilizer")
    elif ans[0]==6:
        print("Use Urea fertilizer")
else:
    print("invalid input")

    #  30         60        42          4          4        21      0           18

Use 28-28 fertilizer

In [274]:
from sklearn import metrics
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
clf.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [273]:
y_pred=clf.predict(x_test)
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 1.0

In [317]:
a=float(input("enter temparature value:"))
b=float(input("enter Humidity value:"))
c=float(input("enter Moisture value:"))
d=int(input("enter soil type value:"))
e=int(input("enter Crop type value:"))
f=float(input("enter Nitrogen value:"))
g=float(input("enter Potassium value:"))
h=float(input("enter Phoshporous value:"))
ans=clf.predict([[a,b,c,d,e,f,g,h]])
if(((a>=20)&(a<=40)) & ((b>40)&(b<70)) & ((c>=20)&(c<=70)) & ((d>=0)&(d<=4)) & ((e>=0)&(e<=10)) & ((f>=0)&(f<=50)) & ((g>=0)&(g<=20)) & 
    ((h>=0)&(h<=50))):

    if ans[0] == 0:
        print("Use 10-26-26 fertilizer")
    elif ans[0] ==1:
        print("Use 14-35-14 fertilizer")
    elif ans[0] == 2:
        print("Use 17-17-17 fertilizer")
    elif ans[0] == 3:
        print("Use 20-20 fertilizer")
    elif ans[0] == 4:
        print("Use 28-28 fertilizer")
    elif ans[0]==5:
        print("Use DAP fertilizer")
    elif ans[0]==6:
        print("Use Urea fertilizer")
else:
    print("invalid input")
print(ans)

Use 28-28 fertilizer
[4]

In [ ]:
#  30         60        42          4          4        21      0           18